<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA60JNTah-Gf7M3khPBzSAjxl_oY807Fp0</string>
	<key>GCM_SENDER_ID</key>
	<string>903726331632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoListCaseStudy.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todo-list-case-study</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-case-study.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903726331632:ios:ee18b5458bc3ef59397435</string>
</dict>
</plist>